.FavoritesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    overflow: hidden;
}

.FavoritesList h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: Staatliches;
    margin: 10px 0;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
    display: none;
}

.FavoritesList header {
    width: 100%;
}

.FavoritesList .truck {
    color: white;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    font-weight: bold;
    /* font-size: 1em; */
    list-style-type: none;
    border: none;
    border-radius: 4px;
    margin: 15px 5px;
    padding: 15px;
    text-align: center;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList ul {
    padding: 0;
    position: relative;
}

.FavoritesList #name {
    font-size: 1.1em;
    margin: 5px;
    text-align: center;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList #igHandle {
    margin: 5px;
    font-size: 0.75em;
    text-align: center;
    font-size: 0.8em;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList #loading {
    color: black;
}

.container #scrollToTop {
    text-decoration: none;
    right: 25px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: black;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
    cursor: pointer;
    position: fixed;
    z-index: 4;
}

.container #scrollToTop:active {
    background-color: #bdbdbd;
    scroll-behavior: smooth;
    text-decoration: none;
}

.container #scrollToTop:visited {
    text-decoration: none;
}

.FavoritesList #mapViewBottom {
    margin: 15px 0;
    font-size: 1em;
    text-align: center;
    width: 90vw;
    border: none;
    height: 2.2em;
    border-radius: 4px;
    background-color: #7dcf46;
    color: white;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList #mapViewTop {
    margin: 15px 0;
    font-size: 1em;
    text-align: center;
    width: 90vw;
    border: none;
    height: 2.2em;
    border-radius: 4px;
    background-color: #7dcf46;
    color: white;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList #timestamp {
    font-size: 0.5em;
    color: white;
    font-style: italic;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList .imgInList {
    border: solid 1px white;
    border-radius: 4px;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList .buttons {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.FavoritesList .details,
.Favorite {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #7dcf46;
    height: 25px;
    width: 120px;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FavoritesList .listDiv {
    width: auto;
    margin-top: 70px;
    padding: 0;
}

.container {
    width: 100vw;
    margin: auto;
    padding: 0;
}

.FavoritesList .listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .FavoritesList {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .FavoritesList .listDiv {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .FavoritesList .truck {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 200px;
        height: 331px;
    }
    .FavoritesList h1 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .FavoritesList #mapViewBottom {
        display: none;
    }
    .FavoritesList .buttons {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin: 0;
        padding: 0;
    }
    .FavoritesList .details,
    .Favorite {
        width: 120px;
        margin: 10px;
    }
}